venv/
ll_env/
ll-env/
__pycache__/
*.sqlite3
.DS_Store

# PyCharm / VS Code / IDE stuff
.idea/
.vscode/

# Django static collection output (if you generate locally)
staticfiles/

# Logs
*.log

# Environment files
.env
*.env
