{% extends "learning_logs/base.html" %}

{% block content %}
  <div class="container mt-4">
    <p>
      <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-outline-secondary btn-sm">
        Back to Topic: {{ topic }}
      </a>
    </p>

    <h2 class="mb-3">Add a New Entry</h2>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="mb-3">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.as_div }}
      </div>
      <button name="submit" class="btn btn-primary">Add Entry</button>
    </form>
  </div>
{% endblock content %}
