{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1 class="mb-4">Topics</h1>
{% endblock page_header %}

{% block content %}
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
      <li class="list-group-item border-0">
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary mb-2">Add a New Topic</a>
  <a href="{% url 'learning_logs:index' %}" class="btn btn-outline-secondary btn-sm ms-2">Back to Home</a>
{% endblock content %}
